<%- include ("../partials/header") %>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin/profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script lang= "javascript" src="../javascripts/xlsx.full.min.js"></script>
</head>

<div class= "container">
    <div class="row" id="cont">
        <div class="col-md-3" id="sidenav">
            <a class="link focus">Admin</a>
            <a class="link">Building</a>
            <a class="link">Class</a>
            <a class="link">Classroom</a>
            <a class="link">Course</a>
            <a class="link">Department</a>
            <a class="link">Faculty</a>
            <a class="link">Lab</a>
            <a class="link">Timetable Structure</a>
            <a class="link">Student</a>
        </div>
        <div class="col-md-9" id="details">
            <div class="det" id="Admindetails">
                <h3>Admin Details</h3>
                <form id="Adminform" action="/update/admin" method="POST" >
                    <label for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="name" value="<%=admin.name%>">
                    <label for="email">E-mail ID</label>
                    <input class="form-control" type="text" id="email" name="email" value="<%=admin.email%>">
                    <label for="password">Change Password</label>
                    <input class="form-control" type="password" id="password" name="password">
                    <button class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Buildingdetails">
                <h3>Building Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-building"><i class="fa fa-plus" aria-hidden="true"></i> Add</button><br><br>
                <form id="Buildingform" action="/update/building" method="POST">
                    <div style="overflow-x:auto;">
                    <table class="table" id="tb">
                        <thead>
                            <th>Name</th>
                            <th>Classrooms</th>
                            <th>Labs</th>
                            <th>Departments</th>
                        </thead>
                        <tbody>
                            <% var i =1; buildings.forEach(function(building){ %>
                            <tr>
                                <input type="hidden" name="builingid" value="<%=building._id%>">
                                <td><input type="text" class="form-control form2" name="name" value="<%= building.name %>"></td>
                                <td><input type="number" class="form-control form2" name="numOfClassroom" value="<%= building.numberOfClassrooms %>" max="20"></td>
                                <td><input type="number" class="form-control form2" name="numOfLabs" value="<%= building.numberOfLabs %>" max="20"></td>
                                <td>
                                    <div>
                                    <% var deps = [];%>
                                    <% building.departments.forEach(function(dep){ %>
                                    <%     deps.push(dep.name); %>
                                    <% }); %>
                                    <%departments.forEach(function(department){ %>
                                        <label><input type="checkbox" name="dep-<%=building._id%>" value="<%=department.name%>"
                                            <% if(deps.includes(department.name)) {%>
                                                checked
                                            <% } %>
                                        ><%=department.name%></label>
                                    <% }); %>
                                    <button type="button" style="float: right" id="<%=building._id%>-building" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <% i+=1; %>
                            <% }); %>
                        </tbody>
                    </table>
                    </div>
                    <button type="submit" class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Classdetails">
                <h3>Class Details</h3>
                <a href="/admin/create/step-3"><button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;"><i class="fa fa-plus" aria-hidden="true"></i> Add</button></a> <br><br>
                <form id="Classform" action="/update/class" method="POST">
                <div style="overflow-x: auto;" id="div">
                <table class="table" id="tb2">
                    <thead>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Strength</th>
                        <th>Department</th>
                        <th>Class Advisor</th>
                        <th>Default Building</th>
                        <th>Courses</th>
                    </thead>
                    <tbody>
                        <% var i=1; classes.forEach(function(cl){ %>
                            <input type="hidden" name="classid" value="<%=cl._id%>">
                            <tr>
                            <td><input type="text" class="form-control form2" name="name<%=cl._id%>" value="<%= cl.name %>"></td>
                            <td><input type="number" class="form-control form2" name="year<%=cl._id%>" value="<%= cl.year %>"></td>
                            <td><input type="number" class="form-control form2" name="strength<%=cl._id%>" value="<%= cl.strength %>"></td>
                            <td>
                                <select class="form-control" name="department<%=cl._id%>">
                                    <% departments.forEach(function(dep){ %>
                                        <% if(dep.name == cl.department.name) {%>
                                            <option selected><%= dep.name %></option>
                                        <% } else {%>
                                            <option><%= dep.name %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="advisor<%=cl._id%>">
                                    <% faculties.forEach(function(fac){ %>
                                        <% if(fac.fullName == cl.classAdvisor.fullName) {%>
                                            <option selected><%= fac.fullName %></option>
                                        <% } else {%>
                                            <option><%= fac.fullName %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" name="defaultBuilding<%=cl._id%>">
                                    <% buildings.forEach(function(build){ %>
                                        <% if(build.name == cl.defaultBuilding.name) {%>
                                            <option selected><%= build.name %></option>
                                        <% } else {%>
                                            <option><%= build.name %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <% var courselist = []; %>
                                <% cl.courses.forEach(function(cr){ %>
                                    <% courselist.push(cr.name) %>
                                <% }) %>
                                <div>
                                <div class="lst" id="classcourse<%=i%>">
                                    <% courses.forEach(function(course){ %>
                                        <span class="list-item <%=i%> <% if(courselist.includes(course.name)) {%> selected-list-item<%}%>" style="display: inline-block">
                                            <%= course.name %>
                                        </span>
                                    <% }) %>
                                </div>
                                <button type="button" style="float: right" id="<%=cl._id%>-class" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                </div>
                            </td>
                            </tr>
                        <% i+=1; }); %>
                    </tbody>
                </table>
                </div>
                <br><button type="button" class="special-btn" id="btn1">Change</button>
                </form>
            </div>
            <div class="det" id="Classroomdetails">
                <h3>Classroom Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-classroom"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> <br><br>
                <form id="Classroomform" action="/update/classroom" method="POST">
                <div style="overflow-x: auto;">
                <table class="table" id="tb3">
                    <thead>
                        <th>Room No.</th>
                        <th>Capacity</th>
                        <th>Building</th>
                    </thead>
                    <tbody>
                    <% classrooms.forEach(function(classroom){ %>
                        <input type="hidden" name="classroomid" value="<%=classroom._id%>">
                    <tr>
                        <td><input class="form-control form2" type="text" name="roomNumber" value="<%= classroom.roomNumber%>"></td>
                        <td><input class="form-control form2" type="number" name="capacity" value="<%= classroom.capacity %>"></td>
                        <td>
                            <div>
                            <select style="float: left"class="form-control" name="building">
                                <% buildings.forEach(function(build){ %>
                                    <% if(build.name == classroom.building.name) {%>
                                        <option selected><%= build.name %></option>
                                    <% } else {%>
                                        <option><%= build.name %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                            <button type="button" style="float: right" id="<%=classroom._id%>-classroom" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                        </div>
                        </td>
                    </tr>
                    <% }); %>    
                    </tbody>
                </table>
                </div>
                <button type="submit" class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Coursedetails">
                <h3>Course Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-course"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> <br><br>
                <form id="Courseform" action="/update/course" method="POST">
                <div style="overflow-x: auto;">
                <table class="table" id="tb4">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Credits</th>
                        <th>Type</th>
                        <th>Elective</th>
                        <th>Course Mentor</th>
                    </thead>
                    <tbody>
                        <% courses.forEach(function(course){ %>
                            <input type="hidden" name="courseid" value="<%=course._id%>">
                            <tr>
                                <td><input class="form-control form3" type="text" name="id" value="<%=course.id%>"></td>
                                <td><input class="form-control form3" type="text" name="name" value="<%=course.name%>"></td>
                                <td><input class="form-control form3" type="number" name="credits" value="<%=course.credits%>"></td>
                                <td>
                                    <select class="form-control" name="type">
                                        <% if(course.type.localeCompare("Theory") == 0) { %>
                                            <option selected>Theory</option>
                                        <% } else { %>
                                            <option>Theory</option>
                                        <% } %>
                                        <% if(course.type.localeCompare("Lab") == 0) { %>
                                            <option selected>Lab</option>
                                        <% } else { %>
                                            <option>Lab</option>
                                        <% } %>
                                        <% if(course.type.localeCompare("Both") == 0) { %>
                                            <option selected>Both</option>
                                        <% } else { %>
                                            <option>Both</option>
                                        <% } %>
                                    </select>
                                </td>
                                <td>
                                    <% if(course.elective) { %>
                                        <input name="elective" type="checkbox" value="1" checked ></label>
                                    <% } else { %>
                                        <input name="elective" type="checkbox" value="1"></label>
                                    <% } %>
                                    <input type="hidden" name="elective" value="0">
                                </td>
                                <td>
                                    <div>
                                    <select style="float: left;" class="form-control" name="mentor">
                                    <%faculties.forEach(function(fac){ %>
                                        <% if(fac.fullName == course.courseMentor.fullName) {%>
                                            <option selected><%= fac.fullName %></option>
                                        <% } else {%>
                                            <option><%= fac.fullName %></option>
                                        <% } %>
                                    <% }); %>
                                    </select>
                                    <button type="button" style="float: right" id="<%=course._id%>-course" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                </div>
                <br> <button type="submit" class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Departmentdetails">
                <h3>Department Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-department"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> <br><br>
                <form id="Departmentform" action="/update/department" method="POST">
                <div style="overflow-x: auto;">
                <table class="table" id="tb5">
                    <thead>
                        <th>Name </th>
                        <th>Department Head</th>
                    </thead>
                    <tbody>
                        <% departments.forEach(function(department){ %>
                            <input type="hidden" name="departmentid" value="<%=department._id%>" >
                            <tr>
                                <td><input class="form-control form3" type="text" name="name" value="<%= department.name %>"></td>
                                <td>
                                    <div>
                                    <select style="float: left" class="form-control" name="head">
                                        <%faculties.forEach(function(fac){ %>
                                            <% if(fac.fullName == department.departmentHead.fullName) {%>
                                                <option selected><%= fac.fullName %></option>
                                            <% } else {%>
                                                <option><%= fac.fullName %></option>
                                            <% } %>
                                        <% }); %>
                                    </select>
                                    <button type="button" style="float: right" id="<%=department._id%>-department" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                </div>
                <button type="submit" class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Facultydetails">
                <h3>Faculty Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-faculty"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> <br><br>
                <form id="Facultyform" action="/update/faculty" method="POST">
                    <div style="overflow-x: auto;">
                    <table class="table" id="tb6">
                        <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Courses</th>
                        </thead>
                        <tbody>
                            <% var i=1; faculties.forEach(function(faculty){ %>
                                <input type="hidden" name="facultyid" value="<%=faculty._id%>">
                                <tr>
                                    <td><input class="form-control form2" type="text" name="id" value="<%=faculty.id%>"></td>
                                    <td><input class="form-control form3" type="text" name="name" value="<%=faculty.fullName%>"></td>
                                    <td><input class="form-control form3" type="text" name="email" value="<%=faculty.emailID%>"></td>
                                    <td>
                                        <% var courselist2 = []; %>
                                        <% faculty.courses.forEach(function(cr){ %>
                                            <% courselist2.push(cr.name) %>
                                        <% }) %>
                                        <div>
                                        <div class="lst" id="facultycourse<%=i%>">
                                            <% courses.forEach(function(course){ %>
                                                <span class="list-item <% if(courselist2.includes(course.name)) {%> selected-list-item <%}%>" style="display: inline-block">
                                                    <%= course.name %>
                                                </span>
                                            <% }) %>
                                        </div>
                                        <button type="button" style="float: right" id="<%=faculty._id%>-faculty" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            <% i+=1; }) %>
                        </tbody>
                    </table>
                    </div>
                    <br><button type="button" id="btn2" class="special-btn">Change</button>
                </form>
                <br>
            </div>
            <div class="det" id="Labdetails">
                <h3>Lab Details</h3>
                <button class="btn btn-sm btn-info" style="float: right; margin-bottom: 3px;" id="add-lab"><i class="fa fa-plus" aria-hidden="true"></i> Add</button> <br><br>
                <form id="Labform" action="/update/lab" method="POST">
                    <div style="overflow-x: auto;">
                        <table class="table" id="tb7">
                            <thead>
                                <th>ID</th>
                                <th>Capacity</th>
                                <th>Building</th>
                                <th>Lab Incharge</th>
                            </thead>
                            <tbody>
                                <% labs.forEach(function(lab){ %>
                                    <input type="hidden" name="labid" value="<%=lab._id%>" >
                                    <tr>
                                        <td><input class="form-control form2" type="text" name="labID" value="<%= lab.labID %>"></td>
                                        <td><input class="form-control form2" type="number" name="capacity" value="<%= lab.capacity %>"></td>
                                        <td>
                                            <select class="form-control" name="building">
                                                <% buildings.forEach(function(build){ %>
                                                    <% if(build.name == lab.building.name) {%>
                                                        <option selected><%= build.name %></option>
                                                    <% } else {%>
                                                        <option><%= build.name %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </td>
                                        <td>
                                            <select style="float: left" class="form-control" name="incharge">
                                                <%faculties.forEach(function(fac){ %>
                                                    <% if(lab.labIncharge) { %>
                                                        <% if(fac.fullName == lab.labIncharge.fullName) {%>
                                                            <option selected><%= fac.fullName %></option>
                                                        <% } else {%>
                                                            <option><%= fac.fullName %></option>
                                                        <% } %>
                                                    <% } else { %>
                                                        <option><%= fac.fullName %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                            <button type="button" style="float: right" id="<%=lab._id%>-lab" class="remove btn btn-sm btn-danger"><i class="far fa-trash-alt fa-xs"></i></button>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="special-btn">Change</button>
                </form>
            </div>
            <div class="det" id="Timetabledetails">
                <h3>Timetable Structure</h3>
                <form id="Timetableform" action="/update/ttstructure" method="POST">
                    <label for="daysInWeek">Days in Week</label>
                    <input class="form-control" type="number" id="daysInWeek" name="daysInWeek" value="<%= structure.daysInWeek %>">
                    <label for="hoursInDay form2">Hours in Day</label>
                    <input class="form-control" type="number" id="hoursInDay" name="hoursInDay" value="<%= structure.hoursInDay %>">
                    <label>Lunch break start</label>
                    <input class="form-control" type="time" id="lunchstart" name="lunchstart" value="<%= structure.lunchBreakStart %>">
                    <label>Lunch break end</label>
                    <input class="form-control" type="time" id="lunchend" name="lunchend" value="<%= structure.lunchBreakEnd %>">
                    
                    <button type="submit" class="special-btn">Change</button>
                </form>
            </div> 
            <div class="det" id="Studentdetails">
                <h3>Student Details</h3>
                <p>In order to enter student details, please upload a .xlsx file consisting of student roll number, student name, student class id, student email and their password</p>
                <input type="file" id="fileUpload" accept=".xls,.xlsx" /><br />
                <button type="button" id="uploadExcel">Convert</button>
                <pre id="jsonData"></pre>
                <script
                    src="https://code.jquery.com/jquery-3.5.1.js"
                    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                    crossorigin="anonymous"></script>
                <script type="text/javascript">
                    var selectedFile;
                    document.getElementById("fileUpload").addEventListener("change", function(event) {
                         selectedFile = event.target.files[0];
                         console.log("HELLO THERE I WORK");
                         });
                    document.getElementById("uploadExcel").addEventListener("click", function() {
                    if (selectedFile) {
                         console.log("DOIN A CONVERT MAX");
                         var fileReader = new FileReader();
                         fileReader.onload = function(event) {
                            var data = event.target.result;
                            var workbook = XLSX.read(data, { type: "binary" });
                            workbook.SheetNames.forEach(sheet => {
                                 let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet]);
                                 let jsonObject = JSON.stringify(rowObject);
                                 console.log(jsonObject);
                                 $.ajax({
                                        type: "POST",
                                        contentType: "application/json",
                                        url: '/api/student',
                                        data: jsonObject,
                                        dataType:"JSON",
                                        success: function (data) {
                                            alert("Success!");
                                        },
                                        error: function (e) {
                                            alert("Error!");
                                        }
                                    });
                                 });
                             };
                            fileReader.readAsBinaryString(selectedFile);
                            }
                    });
                </script>
            </div>
        </div>
    </div>
    <br><br>
    <form action="/admin/logout" method="POST">
    <button style="float: right" class="btn btn-dark" type="submit">Logout</button>
    </form>
    <br><br>
</div>

<br><br><hr><br><br>
<div class="container" id="timetable">
    <h1>Your Timetable</h1>
    <a href="/admin/generateTT"><button class="bubbly-button" id="btn">Create!</button></a>
</div>


<%- include ("../partials/footer") %>
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="../javascripts/admin/profile.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
